@import "tailwindcss";

body {
  @apply bg-slate-900 text-slate-100;
}

/* Menargetkan container top-center agar berada di tengah layar */
.Toastify__toast-container--top-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: fit-content !important; /* Agar lebar menyesuaikan konten */
}

/* Opsional: Tambahkan overlay gelap di belakang toast agar fokus */
.Toastify__toast-container--top-center::before {
  content: "";
  position: fixed;
  top: -100vh;
  left: -100vw;
  right: -100vw;
  bottom: -100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.animate-slide-up {
  animation: slide-up 0.7s ease-out;
}
